* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-sky);
    height: 200vh;
}

body {
    --bg-sky: rgb(98, 199, 199);
    --header: rgb(255, 255, 255);
    --word: rgb(0, 0, 0);
    --transparent-box: rgba(50, 50, 50, 0.8);
    --mountain: #534657;
    --bg-mountain: url(../images/mountain-day.png);
    --switch: url(../images/day-and-night-black-1.png);
}

body.dark {
    --bg-sky: rgb(29, 27, 53);
    --header: rgb(255, 255, 255);
    --word: rgb(0, 0, 0);
    --transparent-box: rgba(255, 255, 255, 0.6);
    --mountain: rgb(42, 39, 49);
    --bg-mountain: url(../images/mountain-night.png);
    --switch: url(../images/day-and-night-white-1.png);
}

header {
    height: 12vh;
    width: 100%;
    padding: 0 100px;
    /* background: var(--header); */
    border: 13px;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    padding: 28px 0;
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a{
    text-decoration: none;
    font-size: larger;
    color: var(--header);
    padding: 5px 5px;
    border-radius: 20px;
}

header ul li a:hover,
.active {
    background-color: var(--word);
    width: 100px;
    height: 80px;
    color: white;
    /* color: var(--header); */
}

#mode {
    position: absolute;
    right: 50px;
}

input[type="checkbox"]{
    -webkit-appearance: none;
    position: relative;
    width: 40px;
    height: 40px;
    outline: none;
    background-color: transparent;
    background-image: var(--switch);
}

#sun {
    position: fixed;
    right: 200px;
    width: 1000px;
}

.info-box {
    position: absolute;
    height: 120vh;
    width: 100%;
    color: var(--word);
    background-image: var(--bg-mountain);
    z-index: 1000;
}

.wrapper {
    position: absolute;
    padding: 20px;
    margin-left: 100px;
    margin-top: 50px;
    height: 400px;
    width: 400px;
    border-radius: 8%;
    background: var(--transparent-box);
    color: var(--header);
}

.small-circle {
    width: 100px;
    border-radius: 50%;
}

.name {
    font-family: 'Allura', cursive;
    font-family: 'Great Vibes', cursive;
}

article {
    display: flex;
    position: absolute;
    width: 100%;
    height: 200vh;
    margin-top: 110vh;
    background-color: var(--mountain);
    z-index: 1000;
}

.big-box {
    margin-left: 20vh;
}

.latest, .category {
    position: reletive;
    height: 40vh;
    padding: 5px;
    margin-right: 40px;
    border-radius: 20px;
    background-color: var(--header);
    z-index: 100;
}

.latest {
    display: flex;
    width: 800px;
    z-index: 10;
}

.latest:hover {
    position: relative;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 800px;
    height: 40.5vh;
    border-radius: 20px;
    z-index: 100;
}

.category-box {
    display: flex;
}

.category {
    margin-top: 30px;
    width: 380px;
}

.side{
    height: 120vh; 
    width: 320px;
    margin-left: 180px;
    /* overflow-y: scroll; */
}

.side-box {
    width: 300px;
}

#recommanded {
    color: var(--header);
    background-color: rgb(48 44 56);
}

footer {
    position: relative;
    background-color: var(--header);
    width: 100%;
    height: 50px;
}

.name {
    font-size: 40px;
    font-family: 'Allura', cursive;
    font-family: 'Great Vibes', cursive;
}